## this is a continuation of previous lecture

In [46]:
import pandas as pd
import numpy as np

In [47]:
carsdata_csv = pd.read_csv("Toyota_corolla_modified.csv", na_values = ['??','????'])
print(carsdata_csv)

      Price   Age       KM FuelType    HP  MetColor  Automatic    CC  Doors  \
0      6500  23.0  46986.0      NaN  90.0       1.0          0  2000      3
1     13750  23.0      NaN   Diesel  90.0       NaN          0  2000  three
2     13950  24.0  41711.0   Diesel   NaN       1.0          0  2000      3
3     14950   NaN  48000.0   Diesel  90.0       0.0          0  2000      3
4     13750  30.0  38500.0   Diesel  90.0       0.0          0  2000      3
...     ...   ...      ...      ...   ...       ...        ...   ...    ...
1431   7500  69.0  20544.0   Petrol  86.0       1.0          0  1300      3
1432  10845  72.0  19000.0   Petrol  86.0       0.0          0  1300      3
1433   8500  71.0  17016.0   Petrol  86.0       0.0          0  1300      3
1434   7250  70.0  16916.0   Petrol  86.0       1.0          0  1300      3
1435   6950  76.0      NaN   Petrol   NaN       0.0          0  1600      5

      Weight
0       1165
1       1165
2       1165
3       1165
4       1170
...      ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

[1436 rows x 10 columns]

In [48]:
carsdata_csv['Doors'].replace('three',3,inplace = True)
carsdata_csv['Doors'].replace('four',4,inplace = True)
carsdata_csv['Doors'].replace('five',5,inplace = True)

carsdata_csv["Doors"] = carsdata_csv["Doors"].astype('int64')
carsdata_csv["Automatic"] = carsdata_csv["Automatic"].astype(object)
carsdata_csv["KM"] = carsdata_csv["KM"].astype(float)
carsdata_csv["MetColor"] = carsdata_csv["MetColor"].astype(object)

In [49]:
print(carsdata_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1436 entries, 0 to 1435
Data columns (total 10 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Price      1436 non-null   int64
 1   Age        1428 non-null   float64
 2   KM         1431 non-null   float64
 3   FuelType   1431 non-null   object
 4   HP         1423 non-null   float64
 5   MetColor   1431 non-null   object
 6   Automatic  1436 non-null   object
 7   CC         1436 non-null   int64
 8   Doors      1436 non-null   int64
 9   Weight     1436 non-null   int64
dtypes: float64(3), int64(4), object(3)
memory usage: 112.3+ KB
None

### above this is from previous lec,
### below this is of current lec

In [50]:
#carsdata_csv = carsdata_csv.copy(deep = False)

### 1. Creating 3 bins from 'Price' and storing in a new column 'Price_class'

#### Dataframe.insert( col. index, 'col. label', staring value)

creates a new column at specified index

In [51]:
# CREATING A NEW COLUMN 'PRICE_CLASS' WITH BLANK VALUES
carsdata_csv.insert(10, "Price_class",value = "")

In [52]:
print(carsdata_csv.info)

<bound method DataFrame.info of       Price   Age       KM FuelType    HP MetColor Automatic    CC  Doors  \
0      6500  23.0  46986.0      NaN  90.0        1         0  2000      3
1     13750  23.0      NaN   Diesel  90.0      NaN         0  2000      3
2     13950  24.0  41711.0   Diesel   NaN        1         0  2000      3
3     14950   NaN  48000.0   Diesel  90.0        0         0  2000      3
4     13750  30.0  38500.0   Diesel  90.0        0         0  2000      3
...     ...   ...      ...      ...   ...      ...       ...   ...    ...
1431   7500  69.0  20544.0   Petrol  86.0        1         0  1300      3
1432  10845  72.0  19000.0   Petrol  86.0        0         0  1300      3
1433   8500  71.0  17016.0   Petrol  86.0        0         0  1300      3
1434   7250  70.0  16916.0   Petrol  86.0        1         0  1300      3
1435   6950  76.0      NaN   Petrol   NaN        0         0  1600      5

      Weight Price_class
0       1165
1       1165
2       1165
3       1165
4       1170
...      ...         ...
1431    1025
1432    1015
1433    1015
1434    1015
1435    1114

[1436 rows x 11 columns]>

In [53]:

for i in range(0,len(carsdata_csv),1):
    if carsdata_csv.loc[i,"Price" ] < 8450:
        carsdata_csv["Price_class"][i] = "Low"
    elif carsdata_csv.at[i,"Price"] > 11950:
        carsdata_csv["Price_class"][i] = "High"
    else:
        carsdata_csv["Price_class"][i] = "Medium"

<ipython-input-53-260bd97f6b14>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carsdata_csv["Price_class"][i] = "Low"
<ipython-input-53-260bd97f6b14>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carsdata_csv["Price_class"][i] = "High"
<ipython-input-53-260bd97f6b14>:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  carsdata_csv["Price_class"][i] = "Medium"

In [54]:
print(carsdata_csv.info)

<bound method DataFrame.info of       Price   Age       KM FuelType    HP MetColor Automatic    CC  Doors  \
0      6500  23.0  46986.0      NaN  90.0        1         0  2000      3
1     13750  23.0      NaN   Diesel  90.0      NaN         0  2000      3
2     13950  24.0  41711.0   Diesel   NaN        1         0  2000      3
3     14950   NaN  48000.0   Diesel  90.0        0         0  2000      3
4     13750  30.0  38500.0   Diesel  90.0        0         0  2000      3
...     ...   ...      ...      ...   ...      ...       ...   ...    ...
1431   7500  69.0  20544.0   Petrol  86.0        1         0  1300      3
1432  10845  72.0  19000.0   Petrol  86.0        0         0  1300      3
1433   8500  71.0  17016.0   Petrol  86.0        0         0  1300      3
1434   7250  70.0  16916.0   Petrol  86.0        1         0  1300      3
1435   6950  76.0      NaN   Petrol   NaN        0         0  1600      5

      Weight Price_class
0       1165         Low
1       1165        High
2       1165        High
3       1165        High
4       1170        High
...      ...         ...
1431    1025         Low
1432    1015      Medium
1433    1015      Medium
1434    1015         Low
1435    1114         Low

[1436 rows x 11 columns]>

#### Dataseries.value_counts()

returns a series comtaining count of unique values... (total)

In [55]:
print(carsdata_csv["Price_class"].value_counts())

Medium    770
Low       351
High      315
Name: Price_class, dtype: int64

## converting 'Age' variable from months to years by using a function and storing it under a new column label

In [56]:
carsdata_csv.insert(11,"Age_converted",0)

In [41]:

def convert(val):
    converted_age = round(val / 12,1)
    return converted_age

carsdata_csv["Age_converted"] = convert(carsdata_csv["Age"])

#for i in range(0,len(carsdata_csv),1):
#    carsdata_csv.loc[i,"Age_converted"] = convert(carsdata_csv.loc[i,"Age"])

print(carsdata_csv)

      Price   Age       KM FuelType    HP MetColor Automatic    CC  Doors  \
0      6500  23.0  46986.0      NaN  90.0        1         0  2000      3
1     13750  23.0      NaN   Diesel  90.0      NaN         0  2000      3
2     13950  24.0  41711.0   Diesel   NaN        1         0  2000      3
3     14950   NaN  48000.0   Diesel  90.0        0         0  2000      3
4     13750  30.0  38500.0   Diesel  90.0        0         0  2000      3
...     ...   ...      ...      ...   ...      ...       ...   ...    ...
1431   7500  69.0  20544.0   Petrol  86.0        1         0  1300      3
1432  10845  72.0  19000.0   Petrol  86.0        0         0  1300      3
1433   8500  71.0  17016.0   Petrol  86.0        0         0  1300      3
1434   7250  70.0  16916.0   Petrol  86.0        1         0  1300      3
1435   6950  76.0      NaN   Petrol   NaN        0         0  1600      5

      Weight Price_class  Age_converted
0       1165         Low            1.9
1       1165        High            1.9
2       1165        High            2.0
3       1165        High            NaN
4       1170        High            2.5
...      ...         ...            ...
1431    1025         Low            5.8
1432    1015      Medium            6.0
1433    1015      Medium            5.9
1434    1015         Low            5.8
1435    1114         Low            6.3

[1436 rows x 12 columns]


## getting 'km_per_month'

In [57]:
carsdata_csv.insert(12,"Km_per_month",0)

In [58]:
def both_convert(age, km):
    age_converted = round(age/12,1)
    km_converted =round(km/age_converted,3)
    return [age_converted, km_converted]

In [59]:
carsdata_csv["Age_converted"],carsdata_csv["Km_per_month"] = both_convert(
    carsdata_csv["Age"],
    carsdata_csv["KM"])

In [60]:
print(carsdata_csv)

      Price   Age       KM FuelType    HP MetColor Automatic    CC  Doors  \
0      6500  23.0  46986.0      NaN  90.0        1         0  2000      3
1     13750  23.0      NaN   Diesel  90.0      NaN         0  2000      3
2     13950  24.0  41711.0   Diesel   NaN        1         0  2000      3
3     14950   NaN  48000.0   Diesel  90.0        0         0  2000      3
4     13750  30.0  38500.0   Diesel  90.0        0         0  2000      3
...     ...   ...      ...      ...   ...      ...       ...   ...    ...
1431   7500  69.0  20544.0   Petrol  86.0        1         0  1300      3
1432  10845  72.0  19000.0   Petrol  86.0        0         0  1300      3
1433   8500  71.0  17016.0   Petrol  86.0        0         0  1300      3
1434   7250  70.0  16916.0   Petrol  86.0        1         0  1300      3
1435   6950  76.0      NaN   Petrol   NaN        0         0  1600      5

      Weight Price_class  Age_converted  Km_per_month
0       1165         Low            1.9     24729.474
1       1165        High            1.9           NaN
2       1165        High            2.0     20855.500
3       1165        High            NaN           NaN
4       1170        High            2.5     15400.000
...      ...         ...            ...           ...
1431    1025         Low            5.8      3542.069
1432    1015      Medium            6.0      3166.667
1433    1015      Medium            5.9      2884.068
1434    1015         Low            5.8      2916.552
1435    1114         Low            6.3           NaN

[1436 rows x 13 columns]