In [1]:
import pandas as pd
import numpy as np

In [5]:
carsdata_csv = pd.read_csv("auto-mpg.csv")
print(carsdata_csv)

      mpg  cylinders  displacement horsepower  weight  acceleration  \
0    18.0          8         307.0        130    3504          12.0
1    15.0          8         350.0        165    3693          11.5
2    18.0          8         318.0        150    3436          11.0
3    16.0          8         304.0        150    3433          12.0
4    17.0          8         302.0        140    3449          10.5
..    ...        ...           ...        ...     ...           ...
393  27.0          4         140.0         86    2790          15.6
394  44.0          4          97.0         52    2130          24.6
395  32.0          4         135.0         84    2295          11.6
396  28.0          4         120.0         79    2625          18.6
397  31.0          4         119.0         82    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]

In [60]:
# CHECKING DATATYPES OF EACH COLUMN
print(carsdata_csv.dtypes)

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
car name         object
dtype: object

In [4]:
print(carsdata_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None

In [14]:
print(carsdata_csv.describe())

              mpg   cylinders  displacement       weight  acceleration  \
count  398.000000  398.000000    398.000000   398.000000    398.000000
mean    23.514573    5.454774    193.425879  2970.424623     15.568090
std      7.815984    1.701004    104.269838   846.841774      2.757689
min      9.000000    3.000000     68.000000  1613.000000      8.000000
25%     17.500000    4.000000    104.250000  2223.750000     13.825000
50%     23.000000    4.000000    148.500000  2803.500000     15.500000
75%     29.000000    8.000000    262.000000  3608.000000     17.175000
max     46.600000    8.000000    455.000000  5140.000000     24.800000

       model year      origin
count  398.000000  398.000000
mean    76.010050    1.572864
std      3.697627    0.802055
min     70.000000    1.000000
25%     73.000000    1.000000
50%     76.000000    1.000000
75%     79.000000    2.000000
max     82.000000    3.000000

In [61]:
# TO GET COUNT OF UNIQUE DATA TYPES IN DATAFRAME
print(carsdata_csv.dtypes.value_counts())

int64      4
float64    3
object     2
dtype: int64

#
Incase we want to work only with a particular datatype, say for example, int64... 

#### Dataframe.select_dtypes(include =  [ ], exclude = [ ] )

if you want more than 1 dtype to be included or excluded, pass them in a list.. separated by a comma

it returns a subset of the columns from dataframe based on column dtypes

In [13]:
print(carsdata_csv.select_dtypes(include= [object,float]))
print("\n")
print(carsdata_csv.select_dtypes(exclude= [object]))

      mpg  displacement horsepower  acceleration                   car name
0    18.0         307.0        130          12.0  chevrolet chevelle malibu
1    15.0         350.0        165          11.5          buick skylark 320
2    18.0         318.0        150          11.0         plymouth satellite
3    16.0         304.0        150          12.0              amc rebel sst
4    17.0         302.0        140          10.5                ford torino
..    ...           ...        ...           ...                        ...
393  27.0         140.0         86          15.6            ford mustang gl
394  44.0          97.0         52          24.6                  vw pickup
395  32.0         135.0         84          11.6              dodge rampage
396  28.0         120.0         79          18.6                ford ranger
397  31.0         119.0         82          19.4                 chevy s-10

[398 rows x 5 columns]


      mpg  cylinders  displacement  weight  acceleration  model year  origin
0    18.0          8         307.0    3504          12.0          70       1
1    15.0          8         350.0    3693          11.5          70       1
2    18.0          8         318.0    3436          11.0          70       1
3    16.0          8         304.0    3433          12.0          70       1
4    17.0          8         302.0    3449          10.5          70       1
..    ...        ...           ...     ...           ...         ...     ...
393  27.0          4         140.0    2790          15.6          82       1
394  44.0          4          97.0    2130          24.6          82       2
395  32.0          4         135.0    2295          11.6          82       1
396  28.0          4         120.0    2625          18.6          82       1
397  31.0          4         119.0    2720          19.4          82       1

[398 rows x 7 columns]

### Dataframe.info()

returns a concise summary of a datframe. It includes...

1. datatype of index... i.e. row labels
2. datatype of columns
3. count of non - null values
4. memory usage

In [63]:
print(carsdata_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(3), int64(4), object(2)
memory usage: 28.1+ KB
None

### to get unique elements of a column

#### numpy.unique(array)

note.... numpy and not pandas

In [34]:
print(np.unique(carsdata_csv["horsepower"]))
print("\n")
print(np.unique(carsdata_csv["origin"]))
print("\n")
print(carsdata_csv["origin"].unique())

['100' '102' '103' '105' '107' '108' '110' '112' '113' '115' '116' '120'
 '122' '125' '129' '130' '132' '133' '135' '137' '138' '139' '140' '142'
 '145' '148' '149' '150' '152' '153' '155' '158' '160' '165' '167' '170'
 '175' '180' '190' '193' '198' '200' '208' '210' '215' '220' '225' '230'
 '46' '48' '49' '52' '53' '54' '58' '60' '61' '62' '63' '64' '65' '66'
 '67' '68' '69' '70' '71' '72' '74' '75' '76' '77' '78' '79' '80' '81'
 '82' '83' '84' '85' '86' '87' '88' '89' '90' '91' '92' '93' '94' '95'
 '96' '97' '98' '?']


[1 2 3]


[1 3 2]