In [1]:
import pandas as pd
import numpy as np

In [2]:
carsdata_csv = pd.read_csv("auto-mpg.csv", na_values = ['?'])
print(carsdata_csv)

      mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    18.0          8         307.0       130.0    3504          12.0
1    15.0          8         350.0       165.0    3693          11.5
2    18.0          8         318.0       150.0    3436          11.0
3    16.0          8         304.0       150.0    3433          12.0
4    17.0          8         302.0       140.0    3449          10.5
..    ...        ...           ...         ...     ...           ...
393  27.0          4         140.0        86.0    2790          15.6
394  44.0          4          97.0        52.0    2130          24.6
395  32.0          4         135.0        84.0    2295          11.6
396  28.0          4         120.0        79.0    2625          18.6
397  31.0          4         119.0        82.0    2720          19.4

     model year  origin                   car name
0            70       1  chevrolet chevelle malibu
1            70       1          buick skylark 320
2            70       1         plymouth satellite
3            70       1              amc rebel sst
4            70       1                ford torino
..          ...     ...                        ...
393          82       1            ford mustang gl
394          82       2                  vw pickup
395          82       1              dodge rampage
396          82       1                ford ranger
397          82       1                 chevy s-10

[398 rows x 9 columns]

In [3]:
print(carsdata_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB
None

### Dataframe.astype(dtype)
Used to explicitly convert data types from one to another

In [5]:
carsdata_csv["origin"].astype(float) 
print(carsdata_csv.info())    
# STILL DATATYPE OF ORIGIN IS INT64... SO THE CHANGED DTYPE NEED TO BE SAVED IN A VARIABLE... IDEALLY, SAME COLUMN WHOSE DTYPE IS TO BE CHANGED
print("\n")

carsdata_csv["origin"] = carsdata_csv["origin"].astype(float) 
print(carsdata_csv.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   car name      398 non-null    object
dtypes: float64(4), int64(4), object(1)
memory usage: 28.1+ KB
None


<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    float64
 8   car name      398 non-null    object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB
None

#### DataSeries.nbytes

note... Data series... i.e. one column only

used to get total bytes consumed by all elements of a column (total size of the column)

In [6]:
carsdata_csv["origin"].nbytes

3184

#### Dataframe.replace( [ to_replace, replace_with], inplace = True(mostly) )

EG. variable[column_label].replace( ['three', 3], inplace = True)

used to replace a value with a desired value

#### dataframe.isnull().sum()
to check the count of missing data or values present in each column and return total

Note that sum().. is not a part  but is used to get the total

if sum() is not used, thenit returns True / False...whether the cell is blank or not

In [22]:
print(carsdata_csv.isnull().sum())
print("\n")
print(carsdata_csv.isnull())

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model year      0
origin          0
car name        0
dtype: int64


       mpg  cylinders  displacement  horsepower  weight  acceleration  \
0    False      False         False       False   False         False
1    False      False         False       False   False         False
2    False      False         False       False   False         False
3    False      False         False       False   False         False
4    False      False         False       False   False         False
..     ...        ...           ...         ...     ...           ...
393  False      False         False       False   False         False
394  False      False         False       False   False         False
395  False      False         False       False   False         False
396  False      False         False       False   False         False
397  False      False         False       False   False         False

     model year  origin  car name
0         False   False     False
1         False   False     False
2         False   False     False
3         False   False     False
4         False   False     False
..          ...     ...       ...
393       False   False     False
394       False   False     False
395       False   False     False
396       False   False     False
397       False   False     False

[398 rows x 9 columns]