In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

In [2]:
data = pd.read_excel("CreditWorthiness.xlsx", sheet_name = 'Data')

In [10]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Cbal         1000 non-null   object
 1   Cdur         1000 non-null   int64
 2   Chist        1000 non-null   object
 3   Cpur         1000 non-null   object
 4   Camt         1000 non-null   int64
 5   Sbal         1000 non-null   object
 6   Edur         1000 non-null   object
 7   InRate       1000 non-null   int64
 8   MSG          1000 non-null   object
 9   Oparties     1000 non-null   object
 10  Rdur         1000 non-null   object
 11  Prop         1000 non-null   object
 12  age          1000 non-null   int64
 13  inPlans      1000 non-null   object
 14  Htype        1000 non-null   object
 15  NumCred      1000 non-null   int64
 16  JobType      1000 non-null   object
 17  Ndepend      1000 non-null   int64
 18  telephone    1000 non-null   object
 19  foreign      1000 non-null   object
 20  creditScore  1000 non-null   object
dtypes: int64(6), object(15)
memory usage: 164.2+ KB
None

## Q1. The most linearly correlated feature set in the given dataset is?
 Cdur and InRate
 
 Age and Camt
 
 #### Cdur and Camt
 
 Camt and Ndepend

In [11]:
data.corr()

             Cdur      Camt    InRate       age   NumCred   Ndepend
Cdur     1.000000  0.624984  0.074749 -0.036136 -0.011284 -0.023834
Camt     0.624984  1.000000 -0.271316  0.032716  0.020795  0.017142
InRate   0.074749 -0.271316  1.000000  0.058266  0.021669 -0.071207
age     -0.036136  0.032716  0.058266  1.000000  0.149254  0.118201
NumCred -0.011284  0.020795  0.021669  0.149254  1.000000  0.109667
Ndepend -0.023834  0.017142 -0.071207  0.118201  0.109667  1.000000

## Q2.What is the average loan amount claimed by borrower for the purpose of education?
 #### 31684
 44132.5
 
 14860
 
 18725

In [15]:
edu_loan = data['Camt'][data['Cpur'] == 'education']
edu_loan.mean()

31684.0

## Q3. To identify invalid values in categorical columns of the dataframe, which of the following will be very helpful and less time consuming in Python?
 1. View the data manually and find the invalid values (incorrect... very tedious)
#### 2. By observing unique values of every categorical column of the data using unique() method (correct)

 3. Only by viewing info of the dataframe using info() method  (incorrect... info() method just shows the dtype of the column... not its unique values)
 4. By estimating the statistics of the data using describe() method  (incorrect... as desribe method is applicable only to numerical variable... in the question, it is specified categorical variable)
 
 
 can also use value_counts()

## Q4. For the given CreditWorthiness data choose the appropriate problem and technique from the following options. The options should be chosen from machine learning perspective by considering the target variable as creditScore (Y) and other variables as input features (X)
 
		I.	Binary classification problem 
		II.	Supervised machine learning technique 
		III.    Unsupervised machine learning technique 
		IV.	Linear regression problem
        
#### I. and II

In [3]:
data.JobType.unique()

array(['employee with official position',
       'employed either in management, self or in high position',
       'resident unskilled',
       'non resident either unemployed or  unskilled '], dtype=object)

In [4]:
data.Htype.unique()

array(['own', 'free', 'pays rent'], dtype=object)

In [5]:
data.foreign.unique()

array(['no', 'yes'], dtype=object)